@import url('https://fonts.cdnfonts.com/css/raleway-5');

/* Variables SCSS Styles */
:root{
    --color-main-bg: #222222;
    --color-main-text: #AF9661;
    --color-secondary-text: #FFFFFF;
    --color-box-shadow: #8d8c8c;
    --font-family: 'Raleway', sans-serif;
}